<head>
	<link rel="stylesheet" href="burger.css"/>
</head>
<div class="burger">

    <div id="menuToggle">

        <input type="checkbox" />

        <span class= "menuline"></span>
        <span class= "menuline"></span>
        <span class= "menuline"></span>

        <ul id="menu">
            <li><a href="home.html" class="navbar">Mes PC</a></li>
            <li><a href="page1.html" class="navbar">Mes OS</a></li>
            <li><a href="page2.html" class="navbar">Jeux vidéos</a></li>
        </ul>
   </div>
</div>
